<div class="container">
  <ngb-alert *ngIf="errorMessage" [type]="'danger'" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
  <app-user-search (selectUser)="userSelected($event)"></app-user-search>
  <table class="table table-hover mt-2">
    <caption *ngIf="users.length === 0">You need at least one more player to create a game.</caption>
    <caption *ngIf="users.length > 0 && users.length < MAX_PLAYERS">You are ready to go! You can still add up to
      <strong>{{MAX_PLAYERS - users.length}}</strong> more player(s).</caption>
    <caption *ngIf="users.length === MAX_PLAYERS">You have reached the maximum number of players.</caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Avatar</th>
        <th scope="col">Name</th>
        <th class="d-none d-md-block" scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngIf="currentUser">
      <!-- The current user is always part of the game -->
      <tr>
        <th scope="row">1</th>
        <td><img [src]="currentUser.picture" class="rounded-circle" width="40px;"></td>
        <td>{{currentUser.name}}</td>
        <td class="d-none d-md-block">{{currentUser.email}}</td>
        <td></td>
      </tr>
      <!-- Other users -->
      <tr *ngFor="let user of users; let i = index;">
        <th scope="row">{{i + 2}}</th>
        <td><img [src]="user.picture" class="rounded-circle" width="40px;"></td>
        <td>{{user.name}}</td>
        <td class="d-none d-md-block">{{user.email}}</td>
        <td>
          <button type="button" class="close m-2" aria-label="Close" (click)="removeUser(user.user_id)">
            <span aria-hidden="true">&times;</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex mb-3">
    <div class="p-2">
      <b>Rounds: {{numberOfRounds.value}}</b>
    </div>
    <div class="p-2 flex-grow-1">
      <input type="range" class="custom-range" id="numberOfRounds" [formControl]="numberOfRounds"
        [attr.min]="MIN_ROUNDS" [attr.max]="MAX_ROUNDS">
    </div>
  </div>

  <div class="text-center">
    <button type="button" class="btn btn-primary" [disabled]="users.length < 1 || users.length > MAX_PLAYERS"
      (click)="createGame();">
      <span *ngIf="gameCreationSubmitted" class="spinner-border spinner-border-sm" role="status"
        aria-hidden="true"></span>
      Create Game
    </button>
  </div>
</div>
