<ngb-alert *ngIf="errorMessage" [type]="'danger'" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
<app-user-search (selectUser)="userSelected($event)"></app-user-search>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index;">
      <th scope="row">{{i + 1}}</th>
      <td><img [src]="user.picture" class="rounded-circle" width="40px;"></td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>
        <button type="button" class="close m-2" aria-label="Close" (click)="removeUser(user.user_id)">
          <span aria-hidden="true">&times;</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
