<div class="container">
  <ngb-alert *ngIf="errorMessage" [type]="'danger'" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Title (*)</span>
    </div>
    <input id="title" aria-label="Title" class="form-control" placeholder="Type in a title for your game"
      [class.is-valid]="title.valid && (title.dirty || title.touched)" [formControl]="title"
      [class.is-invalid]="title.invalid && (title.dirty || title.touched)">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Description</span>
    </div>
    <textarea [formControl]="description" placeholder="Type in an optional description" class="form-control"
      aria-label="Description"></textarea>
  </div>

  <div class="input-group mb-3">
    <input id="email" type="email" [formControl]="email" class="form-control" aria-label="Email"
      [class.is-valid]="email.valid && email.value && email.value.trim() && (email.dirty || email.touched)"
      [class.is-invalid]="email.invalid && (email.dirty || email.touched)" placeholder="Enter player email">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" id="addPlayer" aria-label="Add player"
        [disabled]="players.length >= MAX_PLAYERS || !email.value || email.invalid" (click)="addPlayer()">
        <b>+</b>
      </button>
    </div>
    <div class="invalid-feedback">
      <ng-container *ngIf="email.invalid">
        You have to enter a valid email address.
      </ng-container>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover mt-2">
      <caption *ngIf="players.length === 0" class="text-danger">
        You need at least one more player to create a game.
      </caption>
      <caption *ngIf="players.length > 0 && players.length < MAX_PLAYERS" class="text-success">
        You are ready to go! You can still add up to <strong>{{MAX_PLAYERS - players.length}}</strong> more player(s).
      </caption>
      <caption *ngIf="players.length === MAX_PLAYERS" class="text-warning">
        You have reached the maximum number of players.
      </caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Avatar</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="currentUser">
        <!-- The current user is always part of the game -->
        <tr>
          <th scope="row">1</th>
          <td>
            <img [src]="currentUser.picture" class="rounded-circle" width="40px;"
              onerror="this.onerror=null;this.src='assets/images/profile.svg';">
          </td>
          <td>{{currentUser.email}}</td>
          <td></td>
        </tr>
        <!-- Other players -->
        <tr *ngFor="let player of players; let i = index;">
          <th scope="row">{{i + 2}}</th>
          <td><img src='assets/images/profile.svg' class="rounded-circle" width="40px;"></td>
          <td>{{player}}</td>
          <td>
            <button type="button" class="close m-2" aria-label="Close" (click)="removePlayer(player)">
              <span aria-hidden="true">&times;</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex mb-3">
    <div class="p-2">
      <b>Rounds: {{numberOfRounds.value}}</b>
    </div>
    <div class="p-2 flex-grow-1">
      <input type="range" class="custom-range" id="numberOfRounds" [formControl]="numberOfRounds"
        [attr.min]="MIN_ROUNDS" [attr.max]="MAX_ROUNDS">
    </div>
  </div>

  <div class="text-center">
    <button type="button" class="btn btn-primary"
      [disabled]="players.length < 1 || players.length > MAX_PLAYERS || numberOfRounds.invalid || title.invalid"
      (click)="createGame();">
      <span *ngIf="gameCreationSubmitted" class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
      </span>
      Create Game
    </button>
  </div>
</div>
