<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img class="rounded-circle" src="https://secure.meetupstatic.com/photos/member/7/b/5/e/highres_240151582.jpeg"
      width="60" height="60" alt="Home">
  </a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="welcome" routerLinkActive="active">Welcome</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="games/create" routerLinkActive="active" *ngIf="auth.loggedIn">Games</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="games/play" routerLinkActive="active">Play</a>
    </li>
  </ul>
  <button class="btn btn btn-outline-info my-2 my-sm-0" (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
  <button class="btn btn btn-outline-info my-2 my-sm-0" (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
</nav>
