<ng-template #rt let-r="result" let-t="term">
  <div class="d-flex align-items-center" style="height: 60px;">
    <img [src]="r['picture']" class="rounded-circle m-2" width="50px;">
    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    (<ngb-highlight [result]="r.email" [term]="t"></ngb-highlight>)
  </div>
</ng-template>

<div class="form-group">
  <label for="typeahead-http">Search users:</label>
  <input id="typeahead-http" type="text" [class.is-invalid]="searchFailed" [(ngModel)]="selectedUser"
    [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="userInputFormatter" class="mx-2"
    placeholder="User search" />
  <span *ngIf="searching">searching...</span>
  <div class="invalid-feedback" *ngIf="searchFailed">Sorry, users could not be loaded.</div>
</div>

<hr>
<pre>Model: {{ selectedUser | json }}</pre>
