<ngb-alert *ngIf="errorMessage" [type]="'danger'" [dismissible]="false">{{ errorMessage }}</ngb-alert>

<div *ngIf="game" class="container-fluid">

  <div class="card mb-3">
    <div class="card-header text-center notranslate">
      <h4>{{game.title}}</h4>
      <footer class="blockquote-footer notranslate" *ngIf="game.description">
        {{game.description}}
      </footer>
    </div>
    <div class="card-body">
      <ng-container
        *ngIf="!game.completed && !game.invitations && (auth.userProfile$ | async).sub === game.currentPlayerId">
        <p class="card-text text-center">
          It's your turn!
        </p>
        <p class="card-text text-center">
          <a [routerLink]="['/games', game.id, 'play']" class="btn btn-primary stretched-link">Play</a>
        </p>
      </ng-container>
      <ng-container
        *ngIf="!game.completed && !game.invitations && (auth.userProfile$ | async).sub !== game.currentPlayerId">
        <p class="card-text text-center">
          Waiting for&nbsp;<strong><i>{{getUserInfo(game.currentPlayerId, game.players).name}}</i></strong>
        </p>
      </ng-container>
      <ng-container *ngIf="game.completed">
        <span *ngFor="let data of game.gameData; let i = index;"
          [ngClass]="['game-data-' + i % game.players.length, 'text-wrap', 'notranslate']">
          <ngb-highlight [result]="data.phrase + ' '" [term]="data.lastWords"></ngb-highlight>
        </span>
      </ng-container>
      <ng-container *ngIf="game.invitations">
        <p class="card-text text-center">
          The game has pending invitations.
        </p>
      </ng-container>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table mt-2 border" [class.table-hover]="!game.invitations">
      <caption *ngIf="game.completed">Hover or tap on a player to see what they wrote</caption>
      <thead>
        <tr class="thead-dark" *ngIf="game.invitations">
          <th colspan="4" class="text-center">Current players</th>
        </tr>
        <tr [class.table-info]="game.invitations" [class.thead-dark]="!game.invitations">
          <th>#</th>
          <th>Avatar</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of game.players; let i = index;" (mouseover)="addHighlight(i)"
          (mouseout)="removeHighlight(i)">
          <th scope="row">{{i + 1}}</th>
          <td>
            <img [src]="player.picture" class="rounded-circle" width="40px;"
              onerror="this.onerror=null;this.src='assets/images/profile.svg';">
          </td>
          <td>{{player.name}}</td>
          <td>{{player.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-responsive" *ngIf="game.invitations">
    <table class="table mt-2 border">
      <thead>
        <tr class="bg-dark text-white">
          <th colspan="4" class="text-center">Pending invitations</th>
        </tr>
        <tr class="table-info">
          <th>#</th>
          <th>Avatar</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let invitation of game.invitations | keyvalue; let i = index;">
          <th scope="row">{{i + 1}}</th>
          <td>
            <img src="assets/images/profile.svg" class="rounded-circle" width="40px;">
          </td>
          <td>{{invitation.value.email}}</td>
          <td>
            <ng-container *ngIf="game.creatorId === (auth.userProfile$ | async).sub">
              <button type="button" class="close" aria-label="Close"
                *ngIf="!invitationWithdrawn.includes(invitation.key)" role="status"
                (click)="withdrawInvitation(invitation.key)">
                <span aria-hidden="true" class="text-danger">&times;</span>
              </button>
              <div class="clearfix mt-2" *ngIf="invitationWithdrawn.includes(invitation.key)">
                <div class="spinner-border spinner-border-sm float-right text-danger" role="status">
                  <span class="sr-only">Processing...</span>
                </div>
              </div>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
