<div *ngIf="game" class="container-fluid">

  <div class="card mb-3">
    <div class="card-header text-center notranslate">
      <h4>{{game.title}}</h4>
      <footer class="blockquote-footer notranslate" *ngIf="game.description">
        {{game.description}}
      </footer>
    </div>
    <div class="card-body">
      <p class="card-text text-center text-danger"
        *ngIf="!game.completed && (auth.userProfile$ | async).sub === game.currentPlayerId">
        It's your turn!
      </p>
      <p class="card-text text-center"
        *ngIf="!game.completed && (auth.userProfile$ | async).sub === game.currentPlayerId">
        <a [routerLink]="['/games/play', game.id]" class="btn btn-primary stretched-link">Play</a>
      </p>
      <p class="card-text text-center"
        *ngIf="!game.completed && (auth.userProfile$ | async).sub !== game.currentPlayerId">
        Waiting for&nbsp;<strong><i>{{getUserInfo(game.currentPlayerId, game.players).name}}</i></strong>
      </p>
      <ng-container *ngIf="game.completed">
        <span *ngFor="let data of game.gameData; let i = index;"
          [ngClass]="['game-data-' + i % game.players.length, 'text-wrap', 'notranslate']">
          <ngb-highlight [result]="data.phrase + ' '" [term]="data.lastWords"></ngb-highlight>
        </span>
      </ng-container>
    </div>
  </div>

  <table class="table table-hover mb-2">
    <caption *ngIf="game.completed">Hover or tap on a player to see what they wrote</caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Avatar</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of game.players; let i = index;" (mouseover)="addHighlight(i)"
        (mouseout)="removeHighlight(i)">
        <th scope="row">{{i + 1}}</th>
        <td><img [src]="player.picture" class="rounded-circle" width="40px;"></td>
        <td>{{player.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
