<ngb-alert *ngIf="errorMessage" [type]="'danger'" [dismissible]="false">{{ errorMessage }}</ngb-alert>

<form [formGroup]="gameForm" (ngSubmit)="onSubmit()" *ngIf="game">

  <blockquote class="blockquote text-center notranslate mb-3">
    <p class="mb-0">{{game.title}}</p>
    <footer class="blockquote-footer font-italic" *ngIf="game.description">{{game.description}}</footer>
  </blockquote>

  <div class="input-group mb-3">
    <div id="previousWords" *ngIf="game.currentPhraseNumber > 0"
      class="border border-dark border-bottom-0 rounded-top text-right p-2">
      <p class="text-break font-weight-bold m-0">
        ... {{game.firstWords}}
      </p>
    </div>
    <textarea id="text" class="form-control border border border-dark rounded-bottom" formControlName="text"
      [class.is-invalid]="gameForm.controls['text'].errors && (gameForm.controls['text'].dirty || gameForm.controls['text'].touched)"
      [class.is-valid]="gameForm.controls['text'].valid && (gameForm.controls['text'].dirty || gameForm.controls['text'].touched)"
      [class.rounded-top]="game.currentPhraseNumber === 0" aria-label="Text area"
      [placeholder]="calculatePlaceholderText()" appExpandTextarea>
    </textarea>
    <div class="invalid-feedback">
      <ng-container *ngIf="gameForm.controls['text'].errors?.minWords">
        You need at least
        {{gameForm.controls['text'].errors.minWords.required - gameForm.controls['text'].errors.minWords.current}}
        more word(s).
      </ng-container>
    </div>
  </div>

  <div class="d-flex mb-3" *ngIf="!isLastPlayer">
    <div class="p-2">
      <b ngbTooltip="Up to a third of the whole content">Slide to reveal more</b>
    </div>
    <div class="p-2 flex-grow-1">
      <input type="range" class="custom-range" id="lastWordsRange" formControlName="lastWordsRange"
        [attr.min]="minLastWords" [attr.max]="maxLastWords">
    </div>
  </div>

  <div #lastWordsContainerTooltip="ngbTooltip" *ngIf="!isLastPlayer" id="lastWords"
    class="shadow text-right text-break bg-white rounded border border-info notranslate p-3 mb-3"
    ngbTooltip="This is what the next player will see" triggers="manual">
    ... {{gameForm.value.lastWords}}
  </div>

  <div class="table-responsive">
    <table class="table table-hover border mb-5">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Avatar</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of game.players; let i = index;">
          <th scope="row">{{i + 1}}</th>
          <td><img [src]="player.picture" class="rounded-circle" width="40px;"
              onerror="this.onerror=null;this.src='assets/images/profile.svg';"></td>
          <td>{{player.name}}</td>
          <td>{{player.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary" [disabled]="!gameForm.valid">
      <span *ngIf="postSubmitted" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Send
    </button>
  </div>

</form>
